<p-panel class="p-1" [showHeader]="false">
  <h1>Pipes Numericos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas" subheader="del presente año">
      {{ totalSells + 12121 | number : "1.2-2" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas" subheader="del presente año">
      {{ totalSells | currency : "NIO" : "symbol-narrow" : "1.2-2" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual" subheader="del presente año">
      {{ percent | percent : "1.2-2" }}
    </p-card>
  </div>
</div>
